<section layout-wrap>

    <md-card class="md-whiteframe-3dp">


        <md-card-header ng-hide="filter.show">

            <md-card-avatar>
                <md-icon class="md-avatar-icon"><i class="material-icons">portrait</i></md-icon>
            </md-card-avatar>

            <md-card-header-text>
                <span class="md-title">{{title}} </span>
                <span class="md-subhead">{{subtitle}} </span>
            </md-card-header-text>

            <md-button class="md-icon-button" id="insert" ng-click="insert($event);">
                <md-icon>add</md-icon>
                <md-tooltip>
                    AGREGAR
                </md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="list();">
                <md-icon>refresh</md-icon>
                <md-tooltip>
                    ACTUALIZAR
                </md-tooltip>
            </md-button>

            <md-button class="md-icon-button">
                <a href="{{global.main_route}}app/controller/general.php?file=report&method=all_csv&table={{global.table}}" target="_blank">
                    <md-icon>insert_chart</md-icon>
                </a>
                <md-tooltip>
                    REPORTE
                </md-tooltip>
            </md-button>

            <md-button ng-click="all_csv()" class="md-icon-button" aria-label="file_download">
                <md-icon>file_download</md-icon>
                <md-tooltip>
                    DESCARGAR
                </md-tooltip>

            </md-button>

            <md-button class="md-icon-button" id="hidden_column">
                <md-icon>remove_red_eye</md-icon>
                <md-tooltip>
                    OCULTAR
                </md-tooltip>
            </md-button>


            <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = true">
            <md-icon class="material-icons">search</md-icon>
            <div class="md-ripple-container"></div>
            <md-tooltip>  BUSCAR  </md-tooltip>
            </button>

        </md-card-header>


        <md-card-header ng-show="filter.show">


            <md-toolbar class="md-table-toolbar md-primary md-hue-1 ">
                <div class="md-toolbar-tools">

                    <md-icon class="material-icons">search</md-icon>

                    <form flex name="filter.form" class="flex">
                        <md-input-container md-no-float class="md-block">
                            <input type="text" ng-model="filter.search" placeholder="busqueda" style="margin-top: 20px;">
                        </md-input-container>
                    </form>

                    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="filter.show = false"> <md-icon class="material-icons">close</md-icon>  <div class="md-ripple-container"></div></button>

                </div>

            </md-toolbar>



        </md-card-header>

        <md-card-content>

            <!-- exact table from live demo -->
            <md-table-container>
                <table md-table md-progress="promise" id="table_main">
                    <thead md-head md-order="query.order" md-on-reorder="list;">
                        <tr md-row>
                            <th md-column width="20px"><span>#</span></th>
                            <th md-column width="20px"><span>editar</span></th>
                            <th md-column width="20px"><span>eliminar</span></th>
                            <th md-column width="20px"><span>ver</span></th>
                            <th md-column width="30px" md-numeric md-order-by="id"> <span>id</span></th>

                            <th md-column ng-repeat="(key, val) in datos[0]" ng-if="$index != 0 ">{{key}}</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="dato " md-select-id="id " md-auto-select ng-repeat="dato in datos | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page - 1) * query.limit ">

                            <td md-cell>{{$index+1}}</td>

                            <td md-cell ng-click="edit($event, dato) ">
                                <md-icon>mode_edit</md-icon>
                            </td>

                            <td md-cell ng-click="delete($event, dato.id) ">
                                <md-icon>delete</md-icon>
                            </td>

                            <td md-cell ng-click="view($event, dato) ">
                                <md-icon>list</md-icon>
                            </td>

                            <td md-cell ng-repeat="(key, val) in dato ">{{val}}</td>

                        </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Filas por página:', of: 'de'} " md-limit="query.limit " md-limit-options="[5, 10, 15] " md-page="query.page " md-total="{{datos.length}} " md-on-paginate="CargarDatos; " md-page-select></md-table-pagination>

        </md-card-content>

    </md-card>

</section>